@font-face {
  font-family: "ProbaPro";
  font-weight: 200;
  src: url(../assets/fonts/ProbraPro/PROBAPRO-EXTRALIGHT.TTF);
}
@font-face {
  font-family: "ProbaPro";
  font-weight: 300;
  src: url(../assets/fonts/ProbraPro/PROBAPRO-LIGHT.TTF);
}
@font-face {
  font-family: "ProbaPro";
  font-weight: 100;
  src: url(../assets/fonts/ProbraPro/PROBAPRO-THIN.TTF);
}
@font-face {
  font-family: "ProbaPro";
  font-weight: 400;
  src: url(../assets/fonts/ProbraPro/PROBAPRO-REGULAR.TTF);
}
@font-face {
  font-family: "ProbaPro";
  font-weight: 500;
  src: url(../assets/fonts/ProbraPro/PROBAPRO-MEDIUM.TTF);
}
@font-face {
  font-family: "ProbaPro";
  font-weight: 600;
  src: url(../assets/fonts/ProbraPro/PROBAPRO-SEMIBOLD.TTF);
}
@font-face {
  font-family: "ProbaPro";
  font-weight: 700;
  src: url(../assets/fonts/ProbraPro/PROBAPRO-BOLD.TTF);
}
